
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <div>
          <p><a [routerLink]="'home'" style="color: #255784;">HOME</a></p>
          <p><a [routerLink]="'reports'" style="color: #255784;">REPORTES</a></p>
          <p><a [routerLink]="'reports'" style="color: #255784;">COMPONENTS</a></p>
      </div>
  </mat-drawer>

  <div>
      <div style="height: 80px; background: #255784; color: white; text-align: center;">
            HEADER
      </div>
      <button style="position: absolute; top: 0;" type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
