<p style="color: blue;">home works!</p>
<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
    Hello i18n!
  </h1>
<ng-container i18n>I don't output any element</ng-container>
<!--<app-newsletter [user]="user" (subscribe)="subscribe($event)"></app-newsletter>-->
<app-newsletter [user]="(userService.user$ | async)" 
        (subscribe)="subscribe($event)"></app-newsletter>
<button (click)="changeUserName()">Change User Name</button>


<div class="mat-list">
  <div class="mat-subheader">Products</div>
  <div class="mat-list-item" *ngFor="let product of (products$ | async)">
      <div  class="matListItemTitle">{{product?.title}}</div>
      <div class="matListItemLine">{{product.category}}</div>
  </div>
</div>

<hr>
<div class="mat-list">
  <div class="mat-subheader">Products Encontrados</div>
  <div class="mat-list-item" *ngFor="let product of (productSearch$ | async)">
      <div class="matListItemTitle">{{product?.title}}</div>
      <div class="matListItemLine">{{product.category}}</div>
  </div>
</div>
